openapi: 3.1.0
info:
  title: Nitrosend API
  version: 1.0.0
  description: |
    Multi-channel marketing automation API. Send email campaigns, build
    automation flows, manage contacts and segments, track events, and
    configure your brand — all via a single REST API.

    ## Authentication

    All `/v1/my/*` endpoints require authentication via **Bearer token**.
    Two token types are accepted (tried in order):

    1. **API Key** — `Authorization: Bearer nskey_live_...`
    2. **JWT** — `Authorization: Bearer <jwt>` (obtained from `POST /v1/login`)

    ## Pagination

    Paginated endpoints return these headers:
    - `X-Total-Count` — total records
    - `X-Total-Pages` — total pages
    - `X-Page-Number` — current page
    - `X-Next-Page` — next page (omitted on last page)
    - `X-Prev-Page` — previous page (omitted on first page)

    Use `page` and `limit` (or `per`) query params to control pagination.
    Maximum `limit` is 100, default is 30.

    ## Error Responses

    All errors return a consistent JSON shape:
    ```json
    {
      "code": 422,
      "message": "Description of error",
      "error": true,
      "validation_errors": { "field": ["error message"] }
    }
    ```
    The `validation_errors` key is only present on 422 responses.

  contact:
    name: Nitrosend
    url: https://nitrosend.com
  license:
    name: Proprietary
    url: https://nitrosend.com/terms

servers:
  - url: https://api.nitrosend.com
    description: Production
  - url: http://localhost:8000
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: Auth
    description: Login, logout, and registration
  - name: User
    description: Current user profile
  - name: Account
    description: Account settings and configuration
  - name: Contacts
    description: Contact management
  - name: Lists
    description: Contact lists
  - name: Segments
    description: Dynamic contact segments
  - name: Campaigns
    description: Email and SMS campaigns
  - name: Templates
    description: Email templates, preview, and component schema
  - name: Flows
    description: Automation flows and step schema
  - name: Events
    description: Contact event tracking
  - name: Domains
    description: Sending domain verification
  - name: Brand
    description: Brand identity and theme
  - name: Public
    description: Unauthenticated public endpoints

# =============================================================================
# PATHS
# =============================================================================
paths:
  # ---------------------------------------------------------------------------
  # Auth
  # ---------------------------------------------------------------------------
  /v1/signup:
    post:
      tags: [Auth]
      operationId: signup
      summary: Create a new account
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user]
              properties:
                user:
                  type: object
                  required: [email, password]
                  properties:
                    first_name: { type: string }
                    last_name: { type: string }
                    email: { type: string, format: email }
                    mobile: { type: string }
                    password: { type: string, format: password, minLength: 6 }
                    password_confirmation: { type: string, format: password }
      responses:
        "201":
          description: Account created
          headers:
            Authorization:
              schema: { type: string }
              description: JWT token for the new session
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "422":
          $ref: "#/components/responses/ValidationError"

  /v1/login:
    post:
      tags: [Auth]
      operationId: login
      summary: Sign in and receive a JWT
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user]
              properties:
                user:
                  type: object
                  required: [email, password]
                  properties:
                    email: { type: string, format: email }
                    password: { type: string, format: password }
      responses:
        "200":
          description: Signed in
          headers:
            Authorization:
              schema: { type: string }
              description: JWT token
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/logout:
    delete:
      tags: [Auth]
      operationId: logout
      summary: Sign out and revoke JWT
      responses:
        "204":
          description: Signed out

  # ---------------------------------------------------------------------------
  # User
  # ---------------------------------------------------------------------------
  /v1/my/user:
    get:
      tags: [User]
      operationId: getUser
      summary: Get current user profile
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "401":
          $ref: "#/components/responses/Unauthorized"

    patch:
      tags: [User]
      operationId: updateUser
      summary: Update current user profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name: { type: string }
                last_name: { type: string }
                email: { type: string, format: email }
                mobile: { type: string }
      responses:
        "200":
          description: Updated user
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "422":
          $ref: "#/components/responses/ValidationError"

  # ---------------------------------------------------------------------------
  # Account
  # ---------------------------------------------------------------------------
  /v1/my/account:
    get:
      tags: [Account]
      operationId: getAccount
      summary: Get account details
      responses:
        "200":
          description: Account with brand, onboarding state, and volume budgets
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Account" }

    patch:
      tags: [Account]
      operationId: updateAccount
      summary: Update account settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                avatar: { type: string, description: Signed blob ID }
                banner: { type: string, description: Signed blob ID }
                email_from_name: { type: string }
                email_from_email: { type: string, format: email }
                email_reply_to: { type: string, format: email }
                test_email_recipients:
                  type: array
                  items: { type: string, format: email }
                  maxItems: 5
      responses:
        "200":
          description: Updated account
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Account" }
        "422":
          $ref: "#/components/responses/ValidationError"

  # ---------------------------------------------------------------------------
  # Contacts
  # ---------------------------------------------------------------------------
  /v1/my/contacts:
    get:
      tags: [Contacts]
      operationId: listContacts
      summary: List contacts (paginated)
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 100 }
        - name: search
          in: query
          schema: { type: string }
          description: Full-text search across name, email, phone
        - name: list_id
          in: query
          schema: { type: integer }
          description: Filter contacts belonging to this list
      responses:
        "200":
          description: Paginated contacts
          headers:
            X-Total-Count: { schema: { type: integer } }
            X-Total-Pages: { schema: { type: integer } }
            X-Page-Number: { schema: { type: integer } }
            X-Next-Page: { schema: { type: integer } }
            X-Prev-Page: { schema: { type: integer } }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Contact" }

    post:
      tags: [Contacts]
      operationId: createContact
      summary: Create a contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name: { type: string }
                last_name: { type: string }
                email: { type: string, format: email, description: "Creates/updates email channel with opt_in" }
                phone: { type: string, description: "E.164 format. Creates/updates phone channel with opt_in" }
                source: { type: string }
                country_code: { type: string }
                list_ids:
                  type: array
                  items: { type: integer }
                data:
                  type: object
                  additionalProperties: true
                  description: Custom key-value data
                channels_attributes:
                  type: array
                  items:
                    type: object
                    properties:
                      kind: { type: string, enum: [email, phone] }
                      value: { type: string }
                      subscribed: { type: boolean }
      responses:
        "201":
          description: Contact created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Contact" }
        "422":
          $ref: "#/components/responses/ValidationError"

  /v1/my/contacts/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [Contacts]
      operationId: getContact
      summary: Get a contact
      responses:
        "200":
          description: Contact with channels
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Contact" }
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Contacts]
      operationId: updateContact
      summary: Update a contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name: { type: string }
                last_name: { type: string }
                email: { type: string, format: email }
                phone: { type: string }
                source: { type: string }
                country_code: { type: string }
                list_ids:
                  type: array
                  items: { type: integer }
                data:
                  type: object
                  additionalProperties: true
                channels_attributes:
                  type: array
                  items:
                    type: object
                    properties:
                      id: { type: integer }
                      kind: { type: string, enum: [email, phone] }
                      value: { type: string }
                      subscribed: { type: boolean }
                      _destroy: { type: boolean }
      responses:
        "200":
          description: Updated contact
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Contact" }
        "422":
          $ref: "#/components/responses/ValidationError"

    delete:
      tags: [Contacts]
      operationId: deleteContact
      summary: Delete a contact
      responses:
        "200":
          description: Deleted contact
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Contact" }

  /v1/my/contacts/{id}/enrich:
    post:
      tags: [Contacts]
      operationId: enrichContact
      summary: Re-enrich a contact via email verification + Apollo
      description: |
        Queues the contact for email verification and Apollo enrichment.
        Consumes 2 validation allowance units. Requires the contact to have
        an email channel.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Enrichment queued
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Contact" }
        "400":
          description: Contact has no email or validation allowance exhausted
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ---------------------------------------------------------------------------
  # Lists
  # ---------------------------------------------------------------------------
  /v1/my/lists:
    get:
      tags: [Lists]
      operationId: listLists
      summary: List all contact lists
      responses:
        "200":
          description: Contact lists
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ContactList" }

    post:
      tags: [Lists]
      operationId: createList
      summary: Create a contact list
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                segment_id: { type: integer, nullable: true }
                contact_ids:
                  type: array
                  items: { type: integer }
      responses:
        "201":
          description: List created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContactList" }
        "422":
          $ref: "#/components/responses/ValidationError"

  /v1/my/lists/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [Lists]
      operationId: getList
      summary: Get a contact list
      responses:
        "200":
          description: Contact list
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContactList" }
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Lists]
      operationId: updateList
      summary: Update a contact list
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                segment_id: { type: integer, nullable: true }
                contact_ids:
                  type: array
                  items: { type: integer }
      responses:
        "200":
          description: Updated list
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContactList" }
        "422":
          $ref: "#/components/responses/ValidationError"

    delete:
      tags: [Lists]
      operationId: deleteList
      summary: Delete a contact list
      responses:
        "200":
          description: Deleted list
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContactList" }

  # ---------------------------------------------------------------------------
  # Segments
  # ---------------------------------------------------------------------------
  /v1/my/segments:
    get:
      tags: [Segments]
      operationId: listSegments
      summary: List all segments
      responses:
        "200":
          description: Segments
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Segment" }

    post:
      tags: [Segments]
      operationId: createSegment
      summary: Create a segment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                filters:
                  $ref: "#/components/schemas/SegmentFilters"
      responses:
        "201":
          description: Segment created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Segment" }
        "422":
          $ref: "#/components/responses/ValidationError"

  /v1/my/segments/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [Segments]
      operationId: getSegment
      summary: Get a segment
      responses:
        "200":
          description: Segment
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Segment" }
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Segments]
      operationId: updateSegment
      summary: Update a segment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                filters:
                  $ref: "#/components/schemas/SegmentFilters"
      responses:
        "200":
          description: Updated segment
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Segment" }
        "422":
          $ref: "#/components/responses/ValidationError"

    delete:
      tags: [Segments]
      operationId: deleteSegment
      summary: Delete a segment
      responses:
        "200":
          description: Deleted segment
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Segment" }

  /v1/my/segments/count:
    post:
      tags: [Segments]
      operationId: countSegment
      summary: Count contacts matching filters
      description: |
        Preview how many contacts match a set of segment filters
        without creating or saving a segment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  $ref: "#/components/schemas/SegmentFilters"
      responses:
        "200":
          description: Contact count
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }

  # ---------------------------------------------------------------------------
  # Campaigns
  # ---------------------------------------------------------------------------
  /v1/my/campaigns:
    get:
      tags: [Campaigns]
      operationId: listCampaigns
      summary: List all campaigns
      responses:
        "200":
          description: Campaigns with trigger, template, and templates
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Campaign" }

    post:
      tags: [Campaigns]
      operationId: createCampaign
      summary: Create a campaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                channel: { type: string, enum: [email, sms], default: email }
      responses:
        "201":
          description: Campaign created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Campaign" }
        "422":
          $ref: "#/components/responses/ValidationError"

  /v1/my/campaigns/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [Campaigns]
      operationId: getCampaign
      summary: Get a campaign
      responses:
        "200":
          description: Campaign with trigger, template, and templates
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Campaign" }
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Campaigns]
      operationId: updateCampaign
      summary: Update a campaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                status: { type: string }
                channel: { type: string, enum: [email, sms] }
                scheduled_at: { type: string, format: date-time, nullable: true }
                trigger_attributes:
                  type: object
                  properties:
                    event: { type: string }
                    contact_list_id: { type: integer, nullable: true }
                    segment_id: { type: integer, nullable: true }
                    data: { type: object, additionalProperties: true }
                template_attributes:
                  type: object
                  properties:
                    subject: { type: string }
                    body: { type: string }
                    preheader: { type: string }
                    from_name: { type: string }
                    from_email: { type: string, format: email }
                    reply_to: { type: string, format: email }
                    design:
                      $ref: "#/components/schemas/EmailDesign"
      responses:
        "200":
          description: Updated campaign
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Campaign" }
        "422":
          $ref: "#/components/responses/ValidationError"

    delete:
      tags: [Campaigns]
      operationId: deleteCampaign
      summary: Delete a campaign
      responses:
        "200":
          description: Deleted campaign
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Campaign" }

  /v1/my/campaigns/{id}/send:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    post:
      tags: [Campaigns]
      operationId: sendCampaign
      summary: Send a campaign
      description: |
        Transitions the campaign and its flow to live, then delivers.
        Optionally update trigger and template attributes in the same request.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                trigger_attributes:
                  type: object
                  properties:
                    event: { type: string }
                    contact_list_id: { type: integer, nullable: true }
                    segment_id: { type: integer, nullable: true }
                    data: { type: object, additionalProperties: true }
                template_attributes:
                  type: object
                  properties:
                    subject: { type: string }
                    body: { type: string }
                    preheader: { type: string }
                    from_name: { type: string }
                    from_email: { type: string, format: email }
                    reply_to: { type: string, format: email }
                    design:
                      $ref: "#/components/schemas/EmailDesign"
      responses:
        "200":
          description: Campaign sent
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Campaign" }
        "422":
          $ref: "#/components/responses/ValidationError"

  # ---------------------------------------------------------------------------
  # Templates
  # ---------------------------------------------------------------------------
  /v1/my/templates:
    get:
      tags: [Templates]
      operationId: listTemplates
      summary: List all templates
      description: Returns a summary view with section counts (not full design).
      responses:
        "200":
          description: Template summaries
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/TemplateSummary" }

  /v1/my/templates/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [Templates]
      operationId: getTemplate
      summary: Get a template with full design
      responses:
        "200":
          description: Full template including design
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Template" }
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Templates]
      operationId: updateTemplate
      summary: Update a template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                subject: { type: string }
                body: { type: string }
                preheader: { type: string }
                from_name: { type: string }
                from_email: { type: string, format: email }
                reply_to: { type: string, format: email }
                design:
                  $ref: "#/components/schemas/EmailDesign"
      responses:
        "200":
          description: Updated template
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Template" }
        "422":
          $ref: "#/components/responses/ValidationError"

  /v1/my/templates/{id}/send_test:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    post:
      tags: [Templates]
      operationId: sendTestEmail
      summary: Send a test email
      description: |
        Send a test email for the given template. Provide `email` for an
        explicit recipient, `contact_id` to use a contact's email (with
        merge-tag personalization), or omit both to send to the account owner.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                contact_id: { type: integer }
      responses:
        "200":
          description: Test email sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent: { type: integer }
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        email: { type: string }
                        success: { type: boolean }
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"

  /v1/my/templates/preview:
    post:
      tags: [Templates]
      operationId: previewEmail
      summary: Render an email design to HTML
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [document]
              properties:
                document:
                  $ref: "#/components/schemas/EmailDesign"
      responses:
        "200":
          description: Rendered HTML
          content:
            application/json:
              schema:
                type: object
                properties:
                  html: { type: string }
        "400":
          $ref: "#/components/responses/BadRequest"

  /v1/my/templates/spec:
    get:
      tags: [Templates]
      operationId: getEmailComponentSpec
      summary: Get the email component schema
      description: |
        Returns the full schema for email design sections including all
        component types, their props, required fields, and defaults.
        Sourced from `config/email_components.yml`.
      responses:
        "200":
          description: Email component schema
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailComponentSpec"

  # ---------------------------------------------------------------------------
  # Flows
  # ---------------------------------------------------------------------------
  /v1/my/flows:
    get:
      tags: [Flows]
      operationId: listFlows
      summary: List all automation flows
      description: Returns standalone flows only (excludes campaign-attached flows).
      responses:
        "200":
          description: Flows with trigger, steps, and templates
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Flow" }

    post:
      tags: [Flows]
      operationId: createFlow
      summary: Create a flow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                status: { type: string, enum: [draft, active, paused, archived] }
                trigger:
                  $ref: "#/components/schemas/FlowTriggerInput"
                steps:
                  type: array
                  items:
                    $ref: "#/components/schemas/FlowStepInput"
      responses:
        "201":
          description: Flow created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Flow" }
        "422":
          $ref: "#/components/responses/ValidationError"

  /v1/my/flows/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [Flows]
      operationId: getFlow
      summary: Get a flow
      responses:
        "200":
          description: Flow with full graph
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Flow" }
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Flows]
      operationId: updateFlow
      summary: Update a flow
      description: |
        Supports optimistic concurrency — pass `updated_at` to reject
        the update if the flow was modified externally.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                status: { type: string, enum: [draft, active, paused, archived] }
                updated_at:
                  type: string
                  format: date-time
                  description: Optimistic concurrency check
                trigger:
                  $ref: "#/components/schemas/FlowTriggerInput"
                steps:
                  type: array
                  items:
                    $ref: "#/components/schemas/FlowStepInput"
      responses:
        "200":
          description: Updated flow
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Flow" }
        "409":
          description: Conflict — flow was modified externally
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422":
          $ref: "#/components/responses/ValidationError"

    delete:
      tags: [Flows]
      operationId: deleteFlow
      summary: Delete a flow
      responses:
        "200":
          description: Deleted flow
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Flow" }

  /v1/my/flows/spec:
    get:
      tags: [Flows]
      operationId: getFlowSpec
      summary: Get the flow step type schema
      description: |
        Returns the schema for flow step types, trigger events, and
        segment filters. Sourced from `config/flows.yml`.
      responses:
        "200":
          description: Flow specification
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlowSpec"

  # ---------------------------------------------------------------------------
  # Events
  # ---------------------------------------------------------------------------
  /v1/my/events:
    get:
      tags: [Events]
      operationId: listEvents
      summary: List events (paginated)
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 100 }
        - name: event
          in: query
          schema: { type: string }
          description: Filter by event type
        - name: contact_id
          in: query
          schema: { type: integer }
        - name: created_after
          in: query
          schema: { type: string, format: date-time }
        - name: created_before
          in: query
          schema: { type: string, format: date-time }
        - name: resource_uid
          in: query
          schema: { type: string }
        - name: resource_name
          in: query
          schema: { type: string }
        - name: test
          in: query
          schema: { type: boolean }
      responses:
        "200":
          description: Paginated events
          headers:
            X-Total-Count: { schema: { type: integer } }
            X-Total-Pages: { schema: { type: integer } }
            X-Page-Number: { schema: { type: integer } }
            X-Next-Page: { schema: { type: integer } }
            X-Prev-Page: { schema: { type: integer } }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Event" }

    post:
      tags: [Events]
      operationId: createEvent
      summary: Track a contact event
      description: |
        Requires an idempotency key via the `Idempotency-Key` header or
        `idempotency_key` body param. Duplicate events (same account +
        event type + idempotency key) return the existing event.
      parameters:
        - name: Idempotency-Key
          in: header
          schema: { type: string, maxLength: 128 }
          description: Idempotency key (alternative to body param)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event]
              properties:
                event:
                  type: string
                  pattern: "^[a-z][a-z0-9_]{0,63}$"
                  description: Event type name (lowercase, underscores)
                contact_id: { type: integer }
                contact_email:
                  type: string
                  format: email
                  description: Alternative to contact_id — resolves contact by email
                idempotency_key:
                  type: string
                  maxLength: 128
                  description: Idempotency key (alternative to header)
                amount: { type: number, format: double }
                resource_uid: { type: string }
                resource_name: { type: string }
                resource_url: { type: string, format: uri }
                test: { type: boolean, default: false }
                data:
                  type: object
                  additionalProperties: true
                  description: Custom event payload (max 32KB)
                utm_source: { type: string }
                utm_medium: { type: string }
                utm_term: { type: string }
                utm_content: { type: string }
                utm_campaign: { type: string }
      responses:
        "201":
          description: Event created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Event" }
        "200":
          description: Duplicate event (idempotent — returns existing)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Event" }
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/my/events/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [Events]
      operationId: getEvent
      summary: Get an event
      responses:
        "200":
          description: Event
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Event" }
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Events]
      operationId: deleteEvent
      summary: Delete an event
      responses:
        "200":
          description: Deleted event
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Event" }

  # ---------------------------------------------------------------------------
  # Domains
  # ---------------------------------------------------------------------------
  /v1/my/domains:
    get:
      tags: [Domains]
      operationId: listDomains
      summary: List sending domains (paginated)
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: per
          in: query
          schema: { type: integer, default: 30, maximum: 100 }
      responses:
        "200":
          description: Paginated domains
          headers:
            X-Total-Count: { schema: { type: integer } }
            X-Total-Pages: { schema: { type: integer } }
            X-Page-Number: { schema: { type: integer } }
            X-Next-Page: { schema: { type: integer } }
            X-Prev-Page: { schema: { type: integer } }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Domain" }

    post:
      tags: [Domains]
      operationId: createDomain
      summary: Add a sending domain
      description: |
        Initiates domain verification. Returns DNS records that must be
        added at your domain registrar before calling `POST /verify`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain]
              properties:
                domain:
                  type: object
                  required: [name]
                  properties:
                    name: { type: string, description: "e.g. send.example.com" }
      responses:
        "201":
          description: Domain registered with DNS records to configure
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Domain" }
        "422":
          $ref: "#/components/responses/ValidationError"

  /v1/my/domains/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [Domains]
      operationId: getDomain
      summary: Get a domain with DNS records and status
      responses:
        "200":
          description: Domain
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Domain" }
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Domains]
      operationId: deleteDomain
      summary: Remove a sending domain
      responses:
        "204":
          description: Domain deleted

  /v1/my/domains/{id}/verify:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    post:
      tags: [Domains]
      operationId: verifyDomain
      summary: Verify domain DNS records
      description: |
        Checks if the required DNS records have propagated. If verified,
        completes the `domain_verified` onboarding step and enables sending.
      responses:
        "200":
          description: Domain verification status
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Domain" }

  # ---------------------------------------------------------------------------
  # Brand
  # ---------------------------------------------------------------------------
  /v1/my/brand:
    get:
      tags: [Brand]
      operationId: getBrand
      summary: Get brand identity
      responses:
        "200":
          description: Brand or null
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Brand"
                  - type: object
                    properties:
                      brand: { type: "null" }

    put:
      tags: [Brand]
      operationId: updateBrand
      summary: Update brand identity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                brand_color: { type: string, pattern: "^#[0-9a-fA-F]{6}$" }
                text_color: { type: string, pattern: "^#[0-9a-fA-F]{6}$" }
                bg_color: { type: string, pattern: "^#[0-9a-fA-F]{6}$" }
                font_heading: { type: string }
                font_body: { type: string }
                style_notes: { type: string }
                tone: { type: string }
                company_description: { type: string }
                industry: { type: string }
                physical_address: { type: string }
                company_name: { type: string }
                logo: { type: string, description: Signed blob ID or URL }
                example_copy:
                  type: array
                  items: { type: string }
                links:
                  type: array
                  items:
                    type: object
                    properties:
                      url: { type: string, format: uri }
                      icon: { type: string }
                      title: { type: string }
                default_header: { type: object, additionalProperties: true }
                default_footer: { type: object, additionalProperties: true }
                default_theme: { type: object, additionalProperties: true }
      responses:
        "200":
          description: Updated brand
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Brand" }
        "422":
          $ref: "#/components/responses/ValidationError"

  /v1/my/brand/scrape:
    post:
      tags: [Brand]
      operationId: scrapeBrand
      summary: Auto-detect brand from website
      description: |
        Enqueues a background job that scrapes the URL for brand colors,
        fonts, logo, and tone. Returns 202 immediately. Poll
        `GET /v1/my/brand` for results.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url: { type: string, format: uri }
      responses:
        "202":
          description: Scrape job enqueued
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: scraping }
                  url: { type: string, format: uri }
        "422":
          description: Invalid URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }

  # ---------------------------------------------------------------------------
  # Public
  # ---------------------------------------------------------------------------
  /v1/app:
    get:
      tags: [Public]
      operationId: getPlans
      summary: Get available plans
      security: []
      responses:
        "200":
          description: Active plans
          content:
            application/json:
              schema:
                type: object
                properties:
                  plans:
                    type: array
                    items: { $ref: "#/components/schemas/Plan" }

# =============================================================================
# COMPONENTS
# =============================================================================
components:
  # ---------------------------------------------------------------------------
  # Security Schemes
  # ---------------------------------------------------------------------------
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        API key (`nskey_live_...`) or JWT token. API key is checked first;
        if not found, falls back to Devise JWT authentication.

  # ---------------------------------------------------------------------------
  # Parameters
  # ---------------------------------------------------------------------------
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      schema: { type: integer }

  # ---------------------------------------------------------------------------
  # Responses
  # ---------------------------------------------------------------------------
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

    Unauthorized:
      description: Not authenticated
      headers:
        WWW-Authenticate:
          schema: { type: string }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

    Forbidden:
      description: Not authorized
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

    ValidationError:
      description: Validation failed
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/Error"
              - type: object
                properties:
                  validation_errors:
                    type: object
                    additionalProperties:
                      type: array
                      items: { type: string }

    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  # ---------------------------------------------------------------------------
  # Schemas
  # ---------------------------------------------------------------------------
  schemas:
    # -- Error --
    Error:
      type: object
      required: [code, message, error]
      properties:
        code: { type: integer }
        message: { type: string }
        error: { type: boolean, const: true }

    # -- User (default AMS) --
    User:
      type: object
      properties:
        id: { type: integer }
        first_name: { type: string, nullable: true }
        last_name: { type: string, nullable: true }
        email: { type: string, format: email }
        mobile: { type: string, nullable: true }
        country_code: { type: string, nullable: true }
        admin: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    # -- Account (AccountSerializer) --
    Account:
      type: object
      properties:
        id: { type: integer }
        name: { type: string, nullable: true }
        avatar: { type: string, nullable: true, description: Signed blob ID }
        banner: { type: string, nullable: true, description: Signed blob ID }
        comped: { type: boolean }
        account_tier: { type: string, enum: [free, paid, trusted] }
        onboarding_state:
          type: object
          additionalProperties: true
          description: "JSONB — keys are step names, values are completion metadata"
        onboarding:
          type: object
          properties:
            steps:
              type: object
              description: "Current state of each onboarding step"
            progress:
              type: object
              properties:
                completed: { type: integer }
                total: { type: integer }
        domain_verified: { type: boolean }
        can_send: { type: boolean }
        using_sandbox: { type: boolean }
        sandbox_email: { type: string, nullable: true }
        sandbox_monthly_cap: { type: integer }
        sandbox_sends_remaining: { type: integer }
        capabilities:
          type: object
          additionalProperties: true
        spend_cap_monthly_cents: { type: integer, nullable: true }
        billing:
          type: object
          properties:
            plan_name: { type: string }
            wallet_balance_cents: { type: integer }
            auto_topup: { type: boolean }
            resources:
              type: object
              properties:
                email: { type: object, properties: { used: { type: integer }, allowance: { type: integer }, remaining: { type: integer }, overage_rate: { type: number } } }
                sms: { type: object, properties: { used: { type: integer }, allowance: { type: integer }, remaining: { type: integer }, overage_rate: { type: number } } }
                ai: { type: object, properties: { used: { type: integer }, allowance: { type: integer }, remaining: { type: integer }, overage_rate: { type: number } } }
            lifetime:
              type: object
              properties:
                email_sent: { type: integer }
                sms_sent: { type: integer }
                ai_used: { type: integer }
        email_from_name: { type: string, nullable: true }
        email_from_email: { type: string, nullable: true }
        email_reply_to: { type: string, nullable: true }
        test_email_recipients:
          type: array
          items: { type: string, format: email }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        brand:
          oneOf:
            - $ref: "#/components/schemas/Brand"
            - type: "null"

    # -- Brand (BrandSerializer) --
    Brand:
      type: object
      properties:
        id: { type: integer }
        account_id: { type: integer }
        brand_color: { type: string, nullable: true }
        text_color: { type: string, nullable: true }
        bg_color: { type: string, nullable: true }
        font_heading: { type: string, nullable: true }
        font_body: { type: string, nullable: true }
        style_notes: { type: string, nullable: true }
        tone: { type: string, nullable: true }
        company_description: { type: string, nullable: true }
        industry: { type: string, nullable: true }
        example_copy:
          type: array
          items: { type: string }
          nullable: true
        default_header: { type: object, nullable: true }
        default_footer: { type: object, nullable: true }
        default_theme: { type: object, nullable: true }
        physical_address: { type: string, nullable: true }
        company_name: { type: string, nullable: true }
        source_url: { type: string, nullable: true }
        last_scraped_at: { type: string, format: date-time, nullable: true }
        links:
          type: array
          items:
            type: object
            properties:
              url: { type: string }
              icon: { type: string }
              title: { type: string }
          nullable: true
        logo: { type: string, nullable: true, description: Logo URL }
        complete: { type: boolean, description: "True when brand_color and company_name are set" }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    # -- Contact (ContactSerializer) --
    Contact:
      type: object
      properties:
        id: { type: integer }
        uuid: { type: string, format: uuid }
        first_name: { type: string, nullable: true }
        last_name: { type: string, nullable: true }
        source: { type: string, nullable: true }
        country_code: { type: string, nullable: true }
        data: { type: object, additionalProperties: true }
        subscribed_phone: { type: boolean }
        subscribed_email: { type: boolean }
        verification_status: { type: string, enum: [verified, suppressed, unverified] }
        enrichment_status: { type: string, enum: [enriched, not_enriched] }
        list_ids:
          type: array
          items: { type: integer }
        last_interacted_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        channels:
          type: array
          items: { $ref: "#/components/schemas/ContactChannel" }

    # -- ContactChannel (default AMS) --
    ContactChannel:
      type: object
      properties:
        id: { type: integer }
        contact_id: { type: integer }
        kind: { type: string, enum: [email, phone] }
        value: { type: string }
        subscribed: { type: boolean }
        verified: { type: boolean }
        opt_in_at: { type: string, format: date-time, nullable: true }
        opt_out_at: { type: string, format: date-time, nullable: true }
        sent_count: { type: integer }
        fail_count: { type: integer }
        data: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    # -- ContactList (default AMS) --
    ContactList:
      type: object
      properties:
        id: { type: integer }
        account_id: { type: integer }
        name: { type: string }
        contacts_count: { type: integer }
        segment_id: { type: integer, nullable: true }
        stale: { type: boolean }
        last_populated_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    # -- Segment (SegmentSerializer) --
    Segment:
      type: object
      properties:
        id: { type: integer }
        account_id: { type: integer }
        name: { type: string }
        filters:
          $ref: "#/components/schemas/SegmentFilters"
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    SegmentFilters:
      type: array
      items:
        type: object
        required: [name, predicate, value]
        properties:
          name:
            type: string
            description: |
              Filter name from flows.yml: contact_first_name, contact_last_name,
              contact_phone_number, contact_email, contact_country,
              contact_subscribed_phone, contact_subscribed_email,
              contact_created_at, contact_last_interacted_at,
              contact_source, contact_tag
          predicate:
            type: string
            description: |
              Ransack predicate: eq, not_eq, cont, not_cont, start, end,
              gt, lt, gteq, lteq, present, blank, true, false, in, not_in
          value:
            description: Filter value — string, number, boolean, or array for in/not_in

    # -- Campaign (CampaignSerializer) --
    Campaign:
      type: object
      properties:
        id: { type: integer }
        account_id: { type: integer }
        status: { type: string, enum: [draft, active, paused, completed] }
        approval_state: { type: string }
        channel: { type: string, enum: [email, sms] }
        name: { type: string }
        data: { type: object, additionalProperties: true }
        scheduled_at: { type: string, format: date-time, nullable: true }
        sent_count: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        trigger:
          $ref: "#/components/schemas/FlowTrigger"
        template:
          oneOf:
            - $ref: "#/components/schemas/Template"
            - type: "null"
        templates:
          type: array
          items: { $ref: "#/components/schemas/Template" }

    # -- Template (TemplateSerializer) --
    Template:
      type: object
      properties:
        id: { type: integer }
        name: { type: string, nullable: true }
        flow_id: { type: integer, nullable: true }
        action_id: { type: integer, nullable: true }
        subject: { type: string, nullable: true }
        body: { type: string, nullable: true }
        preheader: { type: string, nullable: true }
        from_name: { type: string, nullable: true }
        from_email: { type: string, nullable: true }
        reply_to: { type: string, nullable: true }
        design:
          oneOf:
            - $ref: "#/components/schemas/EmailDesign"
            - type: "null"
        variables: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    # -- TemplateSummary (TemplateListSerializer — index only) --
    TemplateSummary:
      type: object
      properties:
        id: { type: integer }
        name: { type: string, nullable: true }
        subject: { type: string, nullable: true }
        preheader: { type: string, nullable: true }
        flow_id: { type: integer, nullable: true }
        section_count: { type: integer }
        section_types:
          type: array
          items: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    # -- Flow (FlowSerializer) --
    Flow:
      type: object
      properties:
        id: { type: integer }
        account_id: { type: integer }
        status: { type: string, enum: [draft, active, paused, archived] }
        approval_state: { type: string }
        name: { type: string }
        goal: { type: string, nullable: true }
        trigger:
          $ref: "#/components/schemas/FlowTriggerOutput"
        steps:
          type: array
          items:
            $ref: "#/components/schemas/FlowStepOutput"
        sent_count: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        templates:
          type: array
          items: { $ref: "#/components/schemas/Template" }

    # -- FlowTrigger (campaign trigger — via Flow::TriggerSerializer) --
    FlowTrigger:
      type: object
      properties:
        id: { type: integer }
        flow_id: { type: integer }
        event: { type: string }
        segment_id: { type: integer, nullable: true }
        contact_list_id: { type: integer, nullable: true }
        data: { type: object, additionalProperties: true, nullable: true }
        triggered_count: { type: integer }
        last_triggered_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    # -- Flow trigger/step input shapes (for create/update) --
    FlowTriggerInput:
      type: object
      properties:
        event:
          type: string
          description: |
            Built-in: contact_add, keyword, message, list_add, list_remove,
            product_view, checkout, cart_add, cart_remove, cart_abandoned,
            browse_abandoned. Custom: any lowercase alphanumeric with underscores.
        segment_id: { type: integer, nullable: true }
        contact_list_id: { type: integer, nullable: true }
        data: { type: object, additionalProperties: true }

    FlowTriggerOutput:
      description: Trigger as returned by Flow::Format.dump
      type: object
      properties:
        event: { type: string }
        segment_id: { type: integer, nullable: true }
        contact_list_id: { type: integer, nullable: true }
        data: { type: object, additionalProperties: true, nullable: true }

    FlowStepInput:
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [email, sms, wait, split, emit_event]
        subject: { type: string, description: "Email step: subject line" }
        body: { type: string, description: "SMS body or email plain text" }
        preheader: { type: string, description: "Email step: preheader" }
        from_name: { type: string }
        from_email: { type: string }
        reply_to: { type: string }
        design:
          $ref: "#/components/schemas/EmailDesign"
        duration: { type: integer, description: "Wait step: seconds" }
        filters:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              predicate: { type: string }
              value: {}
          description: "Split step: condition filters"
        "yes":
          type: array
          items: { $ref: "#/components/schemas/FlowStepInput" }
          description: "Split step: yes branch"
        "no":
          type: array
          items: { $ref: "#/components/schemas/FlowStepInput" }
          description: "Split step: no branch"
        event_name: { type: string, description: "Emit event step: event to fire" }
        forward_event_data: { type: boolean, default: false }
        event_data: { type: object, additionalProperties: true }
        transactional: { type: boolean, default: false }

    FlowStepOutput:
      description: Step as returned by Flow::Format.dump
      type: object
      properties:
        type: { type: string, enum: [email, sms, wait, split, emit_event] }
        subject: { type: string }
        body: { type: string }
        preheader: { type: string }
        duration: { type: integer }
        filters: { type: array, items: { type: object } }
        "yes": { type: array, items: { $ref: "#/components/schemas/FlowStepOutput" } }
        "no": { type: array, items: { $ref: "#/components/schemas/FlowStepOutput" } }
        event_name: { type: string }
        forward_event_data: { type: boolean }

    # -- Event (default AMS) --
    Event:
      type: object
      properties:
        id: { type: integer }
        account_id: { type: integer }
        contact_id: { type: integer }
        user_id: { type: integer }
        event: { type: string }
        amount: { type: number, format: double, nullable: true }
        data: { type: object, additionalProperties: true }
        idempotency_key: { type: string, nullable: true }
        resource_uid: { type: string, nullable: true }
        resource_name: { type: string, nullable: true }
        resource_url: { type: string, nullable: true }
        test: { type: boolean }
        generated: { type: boolean }
        chain_depth: { type: integer }
        ip: { type: string, nullable: true }
        user_agent: { type: string, nullable: true }
        browser: { type: string, nullable: true }
        os: { type: string, nullable: true }
        device_type: { type: string, nullable: true }
        referrer: { type: string, nullable: true }
        utm_source: { type: string, nullable: true }
        utm_medium: { type: string, nullable: true }
        utm_term: { type: string, nullable: true }
        utm_content: { type: string, nullable: true }
        utm_campaign: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    # -- Domain (DomainSerializer) --
    Domain:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        provider: { type: string, default: mailgun }
        status: { type: string, enum: [pending, verified, failed] }
        dns_records:
          type: array
          nullable: true
          items:
            type: object
            properties:
              record_type: { type: string }
              name: { type: string }
              value: { type: string }
              priority: { type: string, nullable: true }
              valid: { type: string }
        verified_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    # -- Plan (public) --
    Plan:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        active: { type: boolean }

    # -- Email Design --
    EmailDesign:
      type: object
      description: Email template design document
      properties:
        sections:
          type: array
          items:
            $ref: "#/components/schemas/EmailSection"
        theme:
          type: object
          description: Theme overrides merged on top of brand theme
          properties:
            brand_color: { type: string }
            bg_color: { type: string }
            text_color: { type: string }
            font_body: { type: string }
            font_heading: { type: string }
            logo_url: { type: string }

    EmailSection:
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [header, hero, text, image, button, columns, product, social, divider, spacer, footer]
        props:
          type: object
          additionalProperties: true
          description: Section-specific properties (see email component spec)
        styles:
          type: object
          properties:
            background_color: { type: string }
            padding: { type: string }
            align: { type: string, enum: [left, center, right] }

    # -- Email Component Spec (from config/email_components.yml) --
    EmailComponentSpec:
      type: object
      description: |
        Full schema for email design sections. Each component has type,
        description, props (with types, required flags, defaults), and tips.
      properties:
        version: { type: integer }
        design_guidelines: { type: string }
        components:
          type: array
          items:
            type: object
            properties:
              type: { type: string }
              description: { type: string }
              tips: { type: array, items: { type: string } }
              props:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    type: { type: string }
                    required: { type: boolean }
                    default: {}
                    description: { type: string }
                    enum: { type: array, items: { type: string } }
        common_styles:
          type: object
        variables:
          type: array
          items: { type: string }
        theme_fields:
          type: array
          items: { type: string }

    # -- Flow Spec (from config/flows.yml) --
    FlowSpec:
      type: object
      description: |
        Schema for flow step types, trigger events, and segment filter names.
        Note: the raw response includes internal fields (icon, visible, inputs,
        outputs, alias) used by the flow editor UI — these can be ignored by
        API consumers.
      properties:
        filters:
          type: object
          additionalProperties:
            type: object
            properties:
              title: { type: string }
              summary: { type: string }
        triggers:
          type: array
          items:
            type: object
            properties:
              title: { type: string }
              event: { type: string }
        steps:
          type: array
          items:
            type: object
            properties:
              type: { type: string }
              title: { type: string }
              summary: { type: string }
              params:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    label: { type: string }
                    type: { type: string }
                    required: { type: boolean }
                    default: {}
                    description: { type: string }
